[2014-05-02 22:30] frewsxcv opened #1 "Why GAE"
Why not just stick with a framework like [Flask](http://flask.pocoo.org/) so we're not limited to GAE?

[2014-05-02 23:33] hjfreyer commented on #1
I'm not sure what you mean by "limited to GAE". GAE python uses WSGI handlers just like any other app server. Flask produces wsgi servlets, so we can use that if desired.

Either way, I expect the server-side functionality to be pretty minimal.

[2014-05-03 18:17] frewsxcv commented on #1
Fair enough

[2014-05-03 18:17] #1 closed, assigned to nobody

[2014-05-04 05:19] jtolio opened #5 "missing share widget"

[2014-05-04 05:20] jtolio opened #6 "learn more page"

[2014-05-04 05:20] jtolio opened #7 "about us page"

[2014-05-04 05:21] jtolio opened #8 "previous pledge(s) management page"
the url should be something like

pledge.mayone.us/pledges/&lt;user_id&gt;/&lt;user_secret_url_nonce&gt;

and let those people be able to edit any user data on the user model. for missing fields, we need scary red outlines and blinking things drawing people's attention to fields that need filling in

[2014-05-04 06:16] brad commented on #5
Is this in reference to the thank you page?

[2014-05-04 06:36] hjfreyer opened #9 "Missing Google Analytics tags"

[2014-05-04 06:54] jtolio commented on #5
nope, we need something like this page: https://mayone.us/campaigns/may-one/?widget=1

[2014-05-04 07:06] #9 closed, assigned to nobody

[2014-05-04 07:06] #7 closed, assigned to jtolio

[2014-05-04 07:06] #6 closed, assigned to jtolio

[2014-05-04 16:49] #5 closed, assigned to nobody

[2014-05-05 05:27] brad opened #12 "SSL Certificate doesn't work on some older mobile browsers"
Not sure how pervasive this is. I witnessed it on an old phone running Android 2.3.4 in the stock browser. On the same phone the site loads fine in Firefox.
The URL in question is https://pledge.mayone.us/pledge
![shot_2014-05-04_22-16-47](https://cloud.githubusercontent.com/assets/1614/2875300/928e914c-d415-11e3-9b24-cafb7cc9a5d9.png)

[2014-05-05 07:31] aaronlifshin opened #14 "Issue with SSL reported through Email"
On Sun, May 4, 2014 at 11:09 PM, Stephen Demjanenko sdemjanenko@gmail.com wrote:
Chrome Version 34.0.1847.131

When I open the https icon I see:

The identity of this website has not been verified.
 • Server's certificate is not trusted.
 • Server's certificate cannot be checked.

Its complaining that the certification was signed by an unknown authority (Geotrust).

Firefox doesn't seem to have th

[2014-05-05 13:37] hjfreyer commented on #14
I think I've figured it out. I think it's due to certificate chain issues http://stackoverflow.com/questions/13862908/ssl-certificate-is-not-trusted-on-mobile-only

Working on digging a bit more into a fix.

[2014-05-05 13:38] hjfreyer commented on #12
Duplicate of https://github.com/MayOneUS/app-engine/issues/14

[2014-05-05 13:38] #12 closed, assigned to nobody

[2014-05-05 13:40] hjfreyer commented on #14
Huh. Clearing my cache seemed to fix it... Not sure how to debug it now :P

[2014-05-05 13:40] hjfreyer commented on #14
Reopening for tracking.

[2014-05-05 13:54] brad commented on #14
Ahh yes, I've been here before. To resolve the issue I had to add the intermediate certificates on the server. Is there a way to do that on GAE?

[2014-05-05 13:57] brad commented on #14
Ah ha, looks like you need to append the intermediate certificates to the end of the public certificate: https://developers.google.com/appengine/docs/ssl#certificate_requirements

[2014-05-05 13:59] hjfreyer commented on #14
Yeah I figured it was something like that. Lemme give it a try. Are you on hangouts? Can you reproduce the issue locally?

[2014-05-05 14:24] hjfreyer commented on #14
Status:
- The intermediate cert was missing from the bundle. Many validators were complaining, including GeoTrust's
- I added one of the intermediate certs GeoTrust links to. Now the validators are happier, but geotrust still gives a warning about "older browsers"
- Difficult to determine whether it's working or not. Brad's still seeing the issue but it might be a cache thing.

[2014-05-05 14:39] jtolio commented on #14
we spend a ton of time dealing with ssl certificates at my work. i'll see if me or one of my coworkers can take a look this morning when i get in

[2014-05-05 15:05] hjfreyer commented on #14
Pushed another certificate and all the validators are happy. I'm thinking this is fixed. @aaronlifshin can you reach out to the original user?

[2014-05-05 15:16] aaronlifshin commented on #14
Will do.

A

On Mon, May 5, 2014 at 8:05 AM, hjfreyer notifications@github.com wrote:

[2014-05-05 15:57] aaronlifshin commented on #14
User has confirmed issue is resolved.

[2014-05-05 15:57] #14 closed, assigned to nobody

[2014-05-05 16:28] hjfreyer opened #15 "Enable push-to-deploy and Google Cloud-based build system"
Deploying should be a single command, and users should not have to worry about whether they're using the test or prod Stripe keys - it should just work.

[2014-05-05 16:29] brad commented on #15
:+1:

[2014-05-05 16:30] hjfreyer opened #16 "Document accounts"
In particular, we have
- A github repo
- A Google Apps domain (for SSL)
- Two appengine accounts (prod and dev)
- A stripe account

And then all the MT stuff.

[2014-05-05 16:33] hjfreyer opened #17 "Decide fate of WordPress instance"
With WP only serving static content, it doesn't need to be on a dedicated box anymore. Also, the main page is currently an HTML file, which is not super editable. Maybe we can find a cloud provider that gives us easy editing without all the config WP needs? Or maybe we can just return WP to shared hosting, and stick it behind Cloudflare? This is a medium term concern, and shouldn't be worried abou

[2014-05-05 16:34] hjfreyer opened #18 "Implement a dashboard and exporting of pledge info"
In GAE. Doesn't have to be fancy.

[2014-05-05 16:35] brad commented on #18
Oops. Is this a dupe of #8?

[2014-05-05 16:35] hjfreyer commented on #18
No, This is for admins. That is for users.

[2014-05-05 16:36] hjfreyer commented on #18
This will show everything and let us dump a CSV for excel magicks.

[2014-05-05 16:41] hjfreyer commented on #12
We're thinking this isn't actually a duplicate of the other issue, but in the absence of other people having issues, I'm okay assuming this is a symptom of code rot on a no longer supported phone.

[2014-05-05 18:24] aaronlifshin commented on #17
oops

[2014-05-05 18:25] frewsxcv commented on #17
@aaronlifshin Stop being so rude

(for clarification, this is sarcasm)

[2014-05-05 18:25] aaronlifshin commented on #17
Let's give it some time.  I have a feeling the server will come in handy for other campaigns, I would not return to shared hosting.

[2014-05-05 18:26] aaronlifshin commented on #17
@frewsxcv Please tell me you're joking

[2014-05-05 18:29] frewsxcv commented on #17
Sorry, forgot to wrap it in `<sarcasm>` tags.

Do we expect that this repository will eventually host the main site after the pledging is over?

[2014-05-05 18:30] hjfreyer commented on #17
Yeah I don't think we should rush into anything. But remember that cost analysis I did? I'd like to amend my projections. At this point the cost of running on app engine for the month is looking like it'll be closer to... $0.

[2014-05-05 18:31] hjfreyer commented on #17
Oh, actually, I think SSL costs $5 a month. So $5.

[2014-05-05 18:32] jtolio commented on #17
lol awesome

[2014-05-05 18:33] frewsxcv commented on #17
Well, why wouldn't we shut down the MT server and completely migrate to GAE?

[2014-05-05 18:34] hjfreyer commented on #17
@frewsxcv The main concern is ease of content editing for the "messaging" parts of the site, so lessig and Brian don't have to worry about breaking anything if they want to change copy, and don't have to redeploy.

[2014-05-05 18:34] aaronlifshin commented on #17
We want to maintain the ability for non-programmer admins to edit the
messages on the site.

On Mon, May 5, 2014 at 11:33 AM, Corey Farwell notifications@github.comwrote:

[2014-05-05 18:34] hjfreyer commented on #17
But there may be cheaper ways to accomplish that, is all I'm saying. Not a huge deal either way.

[2014-05-05 18:44] frewsxcv commented on #17
What options do we have then? Abstract out the content data into a format like markdown so they can easily edit them? Switch to a different CMS platform?

[2014-05-05 19:04] brad commented on #17
If #15 was done and the content was stored in markdown files, that might be feasible using Github's built-in editor. It does give you the ability to preview.

[2014-05-05 19:27] jtolio opened #19 "backfill database with pledges from old site"

[2014-05-05 19:28] jtolio opened #20 "email existing users link to pledge management page"
once #19 and #8 are done, we need to tell everyone.

this is going to require copy from lessig, and really strong language telling people we need all fields filled in

[2014-05-05 19:40] brad opened #21 "Unit test suite"
A unit test suite will remove the fear in making changes and give us extra confidence.

[2014-05-05 19:48] jtolio opened #22 "make a graph of amount pledged over time"
a time series density graph would be awesome

[2014-05-05 19:49] hjfreyer commented on #22
Was planning on doing this. Also a histogram of pledge amounts. Up to lessig whether these should be public or not.

[2014-05-05 19:54] kerryboyko commented on #22
You know, I'm not bad with data, so let me know if I can help out on this one.

[2014-05-05 19:55] kerryboyko commented on #20
I'm working on the wording and will get @lessig's approval first.

[2014-05-05 21:34] brad opened #23 "Run a pre-auth charge for newly created customers"
https://stripe.com/docs/api#create_charge

Make sure `capture=False`

[2014-05-05 21:38] aaronlifshin commented on #23
We have to be careful here.  What if we change something, and cannot collect at all after the auth expires?  Because we are likely to collect after more than 7 days elapse.

[2014-05-05 21:40] brad commented on #23
Yes, we need to be very careful here. From what I understand, that first charge will expire, and we will just need to create a new charge.

[2014-05-05 21:42] aaronlifshin commented on #23
Will there also need to be additional error handling coded if the auth
fails?

On Mon, May 5, 2014 at 2:40 PM, Brad Pitcher notifications@github.comwrote:

[2014-05-05 21:45] brad commented on #23
Maybe, but I think stripe handles that for us. We can locally try out [fake test cards](https://stripe.com/docs/testing) to see what happens

[2014-05-05 21:48] hjfreyer commented on #23
I think this is a policy decision that should be escalated to Brian or Lessig. Have either of them commented?

If it were up to me, I'd carry on without preauthorization. It _decreases_ the chance that credit cards will be rejected, but doesn't really eliminate it in any way, and it adds some complexity to the system.

[2014-05-05 22:07] brad commented on #23
Good point. I was getting ahead of myself. They have not yet weighed in on the subject.

[2014-05-06 03:51] brad opened #24 "Visual artifact on the Stripe modal"
For some reason the stripe modal has a small white box layed over the top of the fields. It is an iframe, but surely there is some way to make it go away.

![screenshot from 2014-05-05 20 46 22](https://cloud.githubusercontent.com/assets/1614/2885845/898aecd2-d4d1-11e3-8a2b-8ca5ca9af522.png)

[2014-05-06 12:42] aroben commented on #17
A [Jekyll](http://jekyllrb.com)-based site on [GitHub Pages](https://pages.github.com) might be a good option. When combined with [prose.io](http://prose.io/#about) it's really easy to edit/preview/deploy changes right in the browser (or of course you can use GitHub's built-in editor). This is how the US [Open Data Policy](http://project-open-data.github.io) is built/hosted. (The Open Data Policy

[2014-05-06 12:48] aroben commented on #24
I don't see this in Safari 7.0.3, Chrome 34.0.1847.131, Firefox 27.0.1, or Firefox 29.0 on OS X 10.9.2. What browser/OS are you seeing it on?

[2014-05-06 12:49] aroben commented on #24
Here's Safari, for example:

![screen shot 2014-05-06 at 8 45 35 am](https://cloud.githubusercontent.com/assets/917945/2889481/d33f486e-d51c-11e3-8b75-8da9d8f8fcff.png)

[2014-05-06 13:34] brad commented on #24
It's there. See how the line between country and zip doesn't continue all
the way to the left?
On May 6, 2014 5:49 AM, "Adam Roben" notifications@github.com wrote:

[2014-05-06 13:36] aroben commented on #24
That looks intentional to me. The only full-width line is between "Name" and "Address". Fields within "Address" are separated by non-full-width lines.

[2014-05-06 13:36] aroben commented on #24
…where by "Address" I mean "the address-related fields".

[2014-05-06 14:19] brad commented on #24
I guess your right, stripe has a picture that looks just like yours on https://stripe.com/checkout.

So the real problem is that the country field is not white.
Firefox 28 and Chromium Version 34.0.1847.132 (265804) on Linux
It's probably a Linux thing. I'll file a bug with stripe.

[2014-05-06 14:23] brad commented on #24
Hmm, I'm not sure if that piece of stripe is open source. Does anyone know where I could file this with stripe?

[2014-05-06 15:30] aroben commented on #24
I'd try https://support.stripe.com/email

On Tue, May 6, 2014 at 10:23 AM, Brad Pitcher notifications@github.comwrote:

[2014-05-06 15:58] aaronlifshin opened #25 "Emails are not being added to stripe"
Wordpress used to put email into the customer->email and customer->description fields.  But this is not working any more from AppEngine.

Makes it more difficult to collect exports.

[2014-05-06 16:51] brad commented on #24
I ended up tweeting @StripeSupport, I usually get better results using twitter.

[2014-05-06 16:53] aroben commented on #25
It looks like we try to get the email address [from the Stripe token via `token.email`](https://github.com/MayOneUS/app-engine/blob/8e1f5bf84e8293b9a90f224352878d51f1b8a456/markup/pledge.jade#L31-L33), but according to the [token API docs](https://stripe.com/docs/api#token_object) there is no such property.

[2014-05-06 16:57] aaronlifshin commented on #8
Don't display details about the pledge.  Thank you for pledging, here is the add'l info we need. That is all.

[2014-05-06 16:58] hjfreyer commented on #25
Interesting. That value is, in fact, being set. But if it's not documented
we should avoid it. I'll look into this.

On Tue May 06 2014 at 12:53:45 PM, Adam Roben notifications@github.com
wrote:

[2014-05-06 16:59] hjfreyer commented on #8
I was thinking we should include the total, to assuage worries about any potential double-charge. Have it be read-only, and give an email address for any questions/issues.

[2014-05-06 17:03] aroben commented on #25
Are the emails ending up in the Pledge model? We pass them to Pledge at the [same place](https://github.com/MayOneUS/app-engine/blob/8e1f5bf84e8293b9a90f224352878d51f1b8a456/backend/main.py#L128-L138) we pass them to Stripe.

[2014-05-06 17:15] aaronlifshin commented on #8
You and JT are both feeling we should include it.  I guess if you really want to have a receipt there, that's cool.  This morning I found out that we only need to send these emails to people who donated over $200.  So, we are not creating a user accounts/management system here, just a quick page to capture some missing data.

But, for completeness, a pledge receipt may come in handy in the future,

[2014-05-06 17:17] brad commented on #24
FWIW, I can make it look exactly like yours if I open the debugger tools and add `background-color: white;` to the country dropdown css.

[2014-05-06 17:20] jtolio commented on #25
whoops, sorry guys, i forgot to mention this commit happened since this ticket was filed. https://github.com/MayOneUS/app-engine/commit/8e1f5bf84e8293b9a90f224352878d51f1b8a456

[2014-05-06 17:21] jtolio commented on #25
hmm, on further thought, i don't like 8e1f5bf, cause it's violating single-source-of-truth for mutable data. i'll get rid of the metadata section

[2014-05-06 17:22] jtolio commented on #25
https://github.com/MayOneUS/app-engine/commit/6283a10c195d3378e935abba743d49db3daf91c3

[2014-05-06 17:35] aroben commented on #17
_Disclaimer: I work for GitHub so I may be biased :grin:_

[2014-05-06 17:38] aroben commented on #25
So looks like we now send customer emails to Stripe but all other metadata to the Pledge model. Does that mean this is fixed (and can be closed)?

[2014-05-06 17:38] aaronlifshin commented on #25
That commit is not yet tested or deployed

[2014-05-06 17:42] aaronlifshin commented on #17
There doesn't seem to be a compelling need to migrate off of wordpress at the moment.

[2014-05-06 17:48] frewsxcv commented on #17
Agreed about not migrating off for now. For at least the pledge drive, I think our current setup should suffice since our content isn't changing that much. Though afterwards, I think a workflow like the one @aroben mentioned would be the way to go.

[2014-05-06 17:49] BrettRToomey commented on #17
Yes, I completely agree with waiting and, eventually, migrating to the aforementioned system.

[2014-05-06 18:19] brad commented on #17
:+1: If we finish all the high priority items and have a massive surplus of
programmer hours available, we should look into it then.

---

Brad Pitcher

On Tue, May 6, 2014 at 10:49 AM, BrettRToomey notifications@github.comwrote:

[2014-05-06 18:54] hjfreyer commented on #24
Yeah, but it's in an iframe out of our control.

On Tuesday, May 6, 2014 1:17:53 PM, Brad Pitcher notifications@github.com
wrote:

[2014-05-06 18:55] hjfreyer commented on #8
Yeah, we know everything's good, but it's good to reassure the donors
explicitly.

On Tuesday, May 6, 2014 1:15:46 PM, aaronlifshin notifications@github.com
wrote:

[2014-05-06 18:57] brad commented on #24
I pointed the stripe support twitter account to this issue, I'm hoping they
will come and see it ;-)

---

Brad Pitcher

On Tue, May 6, 2014 at 11:54 AM, hjfreyer notifications@github.com wrote:

[2014-05-06 19:18] brad commented on #24
@hjfreyer It's not totally out of our control. If we really wanted to we could hack some javascript to fix it, but I don't feel good about that.

[2014-05-06 19:31] hjfreyer opened #27 ""Total" queries are getting expensive"
Some are taking as much as 30 seconds. The total is cached for 5 minutes per instance, so it's a small fraction of users that aren't seeing the progress bar for that long, but it's only going to get worse.

The correct idea is to use a sharded counter pattern. It's simple to code up and I'll get on it when I get home.

[2014-05-06 19:56] aaronlifshin opened #28 "Need to add a google analytics goal for when people complete their pledge and track from referrer or UTM campaign to goal"

[2014-05-06 20:18] aaronlifshin commented on #28
Added a goal on pledge.mayone.us/thankyou

[2014-05-06 20:57] aroben commented on #27
I wonder how much mileage we'd get out of switching to a [projection query](https://developers.google.com/appengine/docs/python/datastore/projectionqueries) to avoid pulling all the customers' names, emails, etc. into memory, and making sure we have the right [indexes](https://developers.google.com/appengine/docs/python/datastore/indexes) in place. It would be a very small code change and probably

[2014-05-06 22:17] michaelvillar commented on #24
Hey, I work on Stripe Checkout :)

It's definitely a bug and probably happens only on Linux. I'm filling an issue internally :)

Thanks!

[2014-05-06 22:22] brad commented on #24
Thank you @michaelvillar :beers:

[2014-05-06 22:26] hjfreyer commented on #24
@michaelvillar Seeing it on OS X Chrome as well.

[2014-05-06 22:27] michaelvillar commented on #24
Wow, that's weird though. I'm on OS X Chrome 24 and I don't see that at all. What exactly do you see?

[2014-05-06 22:27] hjfreyer commented on #27
Ah, good call. I'll try that first. I'm used to BigTable at Google which doesn't really have features like that :)

[2014-05-06 22:34] hjfreyer commented on #24
Not at home at the moment - when I get there I'll send my version number
and screenshot.

On Tue May 06 2014 at 6:27:22 PM, Michael Villar notifications@github.com
wrote:

[2014-05-06 23:26] aaronlifshin commented on #28
Tested with a UTM tag and waiting for Analytics to update with the data.

[2014-05-07 05:31] aaronlifshin commented on #28
UTM tag came through in real time, waiting for it to show up in goals tomorrow.

[2014-05-07 06:11] aaronlifshin opened #31 "Change goal tracking to event type, so that we can track money"

[2014-05-07 07:55] aaronlifshin opened #32 "A number of customers in stripe do not have emails"

[2014-05-07 17:01] aaronlifshin commented on #28
UTM campaign tracking tested. Seems to be working now.

[2014-05-07 17:02] aaronlifshin commented on #31
To do this, need the amount on the thankYou page, I think

[2014-05-07 17:16] hjfreyer opened #33 "Add robots.txt"
Nice to have

[2014-05-07 17:17] hjfreyer opened #34 "Institute rollback procedure"
Maybe add a git tag whenever you're releasing, so it's clear what is the previous release?

[2014-05-07 17:17] hjfreyer commented on #15
Push to deploy doesn't seem to quite fit the bill for our set up - it's mostly targeted at Java. That said, the release procedure is much more streamlined, and documented in the README, so I'm calling this done.

[2014-05-07 17:17] #15 closed, assigned to hjfreyer

[2014-05-07 17:18] hjfreyer commented on #19
@jtolds Is this done, or nearly done?

[2014-05-07 17:19] brad commented on #8
@aaronlifshin Can we call this done, or do we need the pledge info?

[2014-05-07 17:19] hjfreyer commented on #24
Version 35.0.1916.86 beta
![screen shot 2014-05-07 at 1 19 09 pm 1](https://cloud.githubusercontent.com/assets/271308/2906013/c5355aca-d60b-11e3-961c-210ede405703.png)

[2014-05-07 17:46] jtolio commented on #8
yeah let's call this done and open a new ticket if we need more info

[2014-05-07 17:46] #8 closed, assigned to brad

[2014-05-07 17:46] jtolio commented on #19
whoops, yes

[2014-05-07 17:46] #19 closed, assigned to jtolio

[2014-05-07 18:21] aaronlifshin commented on #25
Fixed now.

[2014-05-07 18:21] #25 closed, assigned to nobody

[2014-05-07 18:22] aaronlifshin commented on #17
Closing for now.  WP gets to stay, because it's working fine.

[2014-05-07 18:47] hjfreyer commented on #17
I think the static "index.html" situation needs to get resolved, which I was considering to be in the scope of this bug. Even if we stick with WP on dedicated hosting, the front page should be editable via WYSIWYG, and the database/plugin set should be cleaned out so we don't have lingering user data / performance issues waiting to happen. I'm happy to open up a new bug for those things if you thi

[2014-05-07 19:32] aaronlifshin commented on #17
OK. Makes sense.

The first step would be to get the new progress counter that reads from GAE
into the PHP.

Then we could just test and see how much slower it is.

Maybe trog could take this task?

A

On Wed, May 7, 2014 at 11:47 AM, hjfreyer notifications@github.com wrote:

[2014-05-07 19:41] hjfreyer commented on #17
I imagine if the WP has no dynamic content and SuperCache (or w/e) turned
on, it'd be nearly the same as the static page, but trog would know better.

On Wed May 07 2014 at 3:32:47 PM, aaronlifshin notifications@github.com
wrote:

[2014-05-07 19:47] trogau commented on #17
Sure, I can take a crack at this now.
@hjfreyer : the box is so overspec'ed I think it'll run fine even w/o explicit caching, but it's easy enough to turn on once the home page is fixed up.

[2014-05-07 20:35] jwhite66 opened #35 "Integrate Paypal"
Enable folks to use Paypal to pledge.

[2014-05-07 20:59] BrettRToomey commented on #35
What about Google Checkout and Amazon Payments as well? Bitcoin, too?

[2014-05-07 21:17] jwhite66 commented on #35
Google Checkout is being retired.  There is 'conventional wisdom' that enabling Paypal leads to an increase in revenue.  I've not heard of the equivalent working for Amazon Payments or Bitcoin.  Bitcoin might violate some of our requirements, no?

[2014-05-07 21:20] BrettRToomey commented on #35
I just find it ironic that we're doing this for freedom and taking back the country, yet were considering supporting the product of a company who's infamous for doing just the opposite. Obviously, I have no say, I just find it extremely ironic.

[2014-05-07 21:25] aaronlifshin commented on #35
jwhite has said the he will start this one, but will need help.  Wait, is jwhite and knitfoo the same person?

[2014-05-08 00:25] trogau commented on #17
I've gotten the new pledge progress bar working & integrated a few of the other changes that I found in the CSS. Some of the content is out-of-date but I believe Brian is working on that now.

Hilariously the hardest part was just figuring out how to make WordPress respond via /index.php instead of automatically redirecting to /index.html. If you would like to preview the WP version, your IP addre

[2014-05-08 02:57] jwhite66 commented on #35
Yeah, sorry; jwhite and knitfoo are the same. My personal identify is a bit odd, I realize.  I mostly use my corporate identity everywhere else, though, so it mostly doesn't come up.

[2014-05-08 05:14] #28 closed, assigned to nobody

[2014-05-08 05:14] aaronlifshin commented on #18
And it also needs to allow us to cancel individual pledges.  That feature is getting requested a few times.

[2014-05-08 17:56] stin7 commented on #21
I've started adding a framework to a new branch on my fork: https://github.com/stin7/mayone-app-engine/tree/add-unittest-framework

when I feel it's more complete I'll submit a pull request. in the mean time - any advice or thoughts on my implementation are appreciated!

[2014-05-08 18:04] brad commented on #21
That looks like an excellent start! I just have one request: I'd like a way to override the SDK_PATH when I run the tests, because the path that is hard coded is not the same on my machine. Thanks for working on this!

[2014-05-08 18:14] jwhite66 commented on #35
Some research results; first, technical:
  Paypal has a new REST api I'm not familiar with.  I spent a bit of time researching it, but I don't think it's rich enough yet for what we need.  So the 'Classic' APIs are appropriate.  What we crave is most likely a Express Checkout - Digital Goods Edition.  That is probably closest to the stripe solution (it's a pop up iframe, and returns a token).  I'm

[2014-05-08 18:15] aaronlifshin commented on #35
Do we definitely have a way to do a "pledge" instead of taking payment directly?

[2014-05-08 18:19] jwhite66 commented on #35
Yes; in Paypal parlance, it's an authorization, and is generally good for 30 days.  (You can reconfirm it after 3 days, which they recommend).

[2014-05-08 20:48] jwhite66 commented on #35
A crude mockup using Paypal sandbox is available here:
  http://www.whitesen.org/mayone.php
(although that url will likely go dark quickly).

[2014-05-08 20:52] jwhite66 commented on #35
A UI decision needs to be made:  where to inject the Paypal button.  I think it's a bad idea to alter the current flow in any meaningful way, and stripe provides no mechanism for adding a paypal option to their box (big surprise there).  My instinct is to add a relatively modest 'Or pledge with Paypal' to the bottom of the screen.  But I'm not a UI or visual person, so would appreciate kibitzing.

[2014-05-08 21:14] jwhite66 commented on #35
So, todos:
1.  Get a nicer visual button / placement on screen.
2.  Move the code from php to python, integrate it into the App Engine
3.  Write code to handle the return status; need id, name and email.
       \* See if we need IPN or not (probably not, but...)
4.  Integrate; don't break Stripe
5.  Develop a tool to harvest authorizations, make sure it works
        - We don't want to take a bunc

[2014-05-08 21:15] jwhite66 commented on #35
For posterity, all that has been done so far is affirm that the Digital Goods Express checkout as created by https://devtools-paypal.com/integrationwizard/ecdigitalgoods/code.php#) seems to work.  It seems to.

[2014-05-08 21:15] hjfreyer commented on #35
Perhaps the Pledge button could be a drop down with 2 options. I also
wonder whether we can be explicit with our motivations, "we'd rather you
used stripe because we save money, but paypal is fine." Does anyone have
the specifics on the rate? Maybe email me privately.

On Thursday, May 8, 2014 4:52:06 PM, Jeremy White notifications@github.com
wrote:

[2014-05-08 21:45] jwhite66 commented on #35
I like the current flow; I think it'd be a shame to add another click to the current process.   Also, note that Paypal is not necessarily more expensive than Stripe; the opposite may be true.  I just jumped to the conclusion that someone had gotten a good deal from Stripe.

A quick Google search on non profit rates showed Paypal charges 2.2% + $0.30 per transaction (or 1.9% for > $100K monthly vol

[2014-05-09 15:06] hjfreyer opened #39 "Unicode error on email send"
Python sucks... @brad could you take a look at this?

'ascii' codec can't encode character u'\xe9' in position 13: ordinal not in range(128)
Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.3/webapp2.py", line 1511, in **call**
    rv = self.handle_exception(request, response, e)
  File "/base/data/home/runtimes/python27/pytho

[2014-05-09 15:06] hjfreyer commented on #39
For more background, there seems to be only one such email. I imagine the pledger had an accent in his name.

[2014-05-09 15:56] jtolio commented on #39
lol, one time i was working on this system for the ads team and it was supposed to send error email to dss-alerts@google.com, but what happened is the email sending method expected an iterable of email addresses, so it got "d", "s", "s", etc. i was supposed to take care of all the unicode testing, and i wasn't quite done by our first deployment. we deployed and rob pike calls the tech lead: "why a

[2014-05-09 15:57] brad commented on #39
Correction, Python 2.x sucks ;-)

[2014-05-09 15:57] jtolio commented on #39
lol @brad

[2014-05-09 15:58] jtolio commented on #39
these guys claim we should use the python 2.5 app engine? could that possibly be true still? i don't  believe it is

http://stackoverflow.com/questions/5066027/unicodedecodeerror-when-sending-mail-using-appengine

[2014-05-09 16:01] hjfreyer commented on #39
No, that's deprecated hard, I think.

On Friday, May 9, 2014 11:58:34 AM, JT notifications@github.com wrote:

[2014-05-09 16:02] jtolio commented on #39
oh ho! TIL

name. encode("ascii", errors="ignore")

[2014-05-09 16:04] hjfreyer commented on #39
Ew. Ewewew. Okay

On Friday, May 9, 2014 12:02:42 PM, JT notifications@github.com wrote:

[2014-05-09 16:07] brad commented on #39
LOL @jtolds assigning to you

[2014-05-09 16:09] jtolio commented on #39
lol sorry. ideally there's some way of telling the email message to use a utf8 content-encoding, but i don't see one. do either of you?

[2014-05-09 16:12] jtolio commented on #39
lolol this is the worst http://stackoverflow.com/a/15640761/379568, like, a quoted-printable injection attack to get utf8? :(

[2014-05-09 16:14] hjfreyer commented on #39
Yeah, a hack is better than preventing this guy from getting his receipt.

Maybe next time I will go with go... :P

[2014-05-09 16:16] #39 closed, assigned to jtolio

[2014-05-09 16:21] hjfreyer commented on #39
Pushed and triggered the email send. Went though (hopefully not looking
like ass).

On Fri May 09 2014 at 12:16:01 PM, JT notifications@github.com wrote:

[2014-05-09 16:52] #34 closed, assigned to nobody

[2014-05-09 23:25] hjfreyer commented on #27
Fixed in 9ac0e7c

[2014-05-09 23:25] #27 closed, assigned to nobody

[2014-05-10 00:12] stin7 commented on #21
Cool - added a prompt to override default SDK_PATH

[2014-05-10 00:45] stin7 commented on #21
Just submitted a pull request with the new testing framework - let me know if you have any questions or something isn't working.

Cheers,
Austin

[2014-05-10 01:23] jwhite66 commented on #35
I've got a first pass using the Express Checkout done.   Patch is here:
  https://github.com/knitfoo/app-engine/commit/59d8e997bf342a09acde1e25efbd6a3880d86cfe

This is all front end; it gets the pledge, but does not record it's completion.  It's also unpolished; we need at least a Javascript spinner while we build the Paypal request.

In the end, I chose to drop the 'Digital Goods Edition' versio

[2014-05-10 14:51] jwhite66 commented on #35
Database issues:  do we create a new table 'PayPalPledges' or do we extend the Pledge table?  The latter would require a pledge_type field, two paypal ids (token + cust id), and making stripecustomer optional, not mandatory.

[2014-05-10 15:25] hjfreyer commented on #35
Your proposal for the latter sounds good. I don't know that the pledge_type field is necessary, since it's implied by the other fields. We'll just need to have some logic to check that either stripe or the paypal ids are set, not both.

[2014-05-10 17:24] nickbender commented on #17
I completely understand that the migration isn't a priority for the present. However, the volunteer list shows quite a few rubyists that could add a lot to the project as it moves forward post Jekyll migration.

Several devs (including @aroben and I) could fork the project and begin the migration at any point. Beginning this transition soon would only ease the platform switch when it does become a

[2014-05-10 17:53] hjfreyer commented on #17
If you hack together a prototype that looks roughly like the current page
(take a look at the jade files which are currently unused in this project
as a starting point), we can totally run the workflow by L+B and see what
they think. I've become even warier of the WP instance since we discovered
that somehow people were still making pledges through the old interface.

On Saturday, May 10, 2014 1:2

[2014-05-10 18:18] aaronlifshin commented on #17
I feel like this is taking on work that doesn't need to be done, just
because we have the resources to do it.

We could use your help on the New Hampshire Rebellion site instead.

http://www.nhrebellion.org/

Can you make a Ruby Clone of that instead, which pushes people into
Nationbuilder?

The site information architecture will need to be redesigned, but it will
be much easier to do that if it's

[2014-05-10 22:08] jwhite66 commented on #35
Okay, a full initial implementation is done and deployed on dev.  Needs to be made pretty, needs code review, needs real credentials.  Here's the code:
  https://github.com/knitfoo/app-engine/commit/fbf391b8c1ccac907ee0fc1697c109c5bcf438cb
Still needs spinner, js to make form validate, prettier integration, and the capture tool.

[2014-05-11 20:49] jwhite66 commented on #35
Capture is done and tested.  Code here:  https://github.com/knitfoo/app-engine/commit/e94e1f246fd48a9a76f7f240d91dcc753d273248
Remaining todos:  spinner, js form validation, new return page flow.
I've  just now figured out that the return page is really supposed to be an order confirmation page; which changes the flow a bit.  It works without it, but the flow is subtly wrong from a user perspectiv

[2014-05-11 23:07] hjfreyer commented on #17
I think the WP outage last night elevates the priority on moving mayone.us to something more static and foolproof. @aaronlifshin what are your thoughts?

[2014-05-11 23:08] aaronlifshin commented on #17
The outrage made us look really bad. Cms continues to be a key business
requirement that we cannot drop.
On May 11, 2014 4:07 PM, "hjfreyer" notifications@github.com wrote:

[2014-05-12 02:59] jtolio commented on #17
I'd be interested in seeing options for GAE-hosted CMS tools.

There have been a few people on Facebook who have started their own personalized MayOne pages. It might be nice if we found a CMS that was something of a wiki with ACLs for certain pages?

https://www.facebook.com/groups/282646648577039/permalink/283333185175052/

[2014-05-12 20:13] jwhite66 commented on #35
Alright, flow tweak done; you now confirm the pledge.  I also got the form validation to show up.  So now all I need is a Javascript spinner for the few seconds it takes the paypal page to fire off.  Code is here: https://github.com/knitfoo/app-engine/tree/paypal3

[2014-05-12 21:52] jwhite66 commented on #35
Gah.  Couldn't leave it alone.  Now there is a spinner.  Always easier to do something badly; then it becomes clear to others how to fix it... <grin>.  So, as far as I know, PayPal support is completely done.  Needs proper credentials, a little bit of configuring, and a whole lot of testing.

[2014-05-12 21:53] aaronlifshin commented on #35
I heard from Larry that PayPal refused to create an account for us.

We'll see if can straighten it out.

A

On Mon, May 12, 2014 at 2:52 PM, Jeremy White notifications@github.comwrote:

[2014-05-13 07:31] idiomatic opened #43 "better slider"
Visiting https://mayone.us/ causes Chrome or Firefox to use a lot of CPU.

Not observed with Safari, nor on any other page.

[2014-05-13 16:55] hjfreyer commented on #35
@knitfoo With Stripe, we don't actually put a charge on the card (even a pre-auth we skip), we just store it as a customer for when we actually collect. Above, you mention the token "lasting for 30 days, and we can re-confirm after 3". What exactly do you mean by that? Is there a way we can store a longer lived token? For instance, if we start on the $6M goal next week, we may not be able to charg

[2014-05-13 17:43] jwhite66 commented on #35
This page may provide a further explanation:
  https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/authcapture/
That is, I secure an authorization.  Paypal says it's good for 30 days.  They do say that it _may_ work after 30 days, but that might be a good thing to probe further.  Paypal has APIs for storing credit cards, but then that's not paying with a PayPal bal

[2014-05-13 17:56] aaronlifshin commented on #35
Two issues with PayPal: they are currently not even giving us an account. I
heard We can't access the card address from them. And we rely on having
that from stripe. We need it for fec compliance.
On May 13, 2014 10:43 AM, "Jeremy White" notifications@github.com wrote:

[2014-05-13 18:03] jwhite66 commented on #35
I believe we can make an address capture mandatory, if that would help.

[2014-05-13 21:40] idiomatic opened #44 "almost real-time progress bar"
add:

[code]

[2014-05-13 22:43] jtolio commented on #44
closed in another project

[2014-05-13 22:43] #44 closed, assigned to nobody

[2014-05-13 22:43] jtolio commented on #44
https://github.com/MayOneUS/wp-site/commit/68ee6f4d6184a8a0bb80ac510d8377292d69910f

[2014-05-14 02:01] jwhite66 commented on #35
Looking at the FEC documents (a bazillion page pdf!  woohoo!):
 http://www.fec.gov/law/cfr/2014cfr.pdf
My snapshot view is that for donations >= $50, we need name and address.   For donations >= $200, we need 'Identification'.  Identification is name, address, occupation and employer.    We could try to be clever and only ask for occupation & employer when the amount is >= 200, and only require ad

[2014-05-14 02:04] aaronlifshin commented on #35
For stripe, the site already asks Occ/Emp.

We are allowed to use card address for the address.

Ideally, we get PayPal working just like Stripe?

On Tue, May 13, 2014 at 7:01 PM, Jeremy White notifications@github.comwrote:

[2014-05-14 02:06] jwhite66 commented on #35
Yeah, I'm reviewing.  I can get an address; it's called 'shipping address', but it's an address.  We might want to annotate the pledge page to let people know _why_ we ask for this info.

[2014-05-14 04:17] jwhite66 commented on #35
Code to require a shipping address for pledges >= $50 is in place:
  https://github.com/knitfoo/app-engine/tree/paypal4
I also played with the behavior of the pledge form to reflect FEC requirements, and to disclose those to the user.
Not tested with Stripe; that should happen yet.

[2014-05-14 04:28] jwhite66 commented on #35
Also, I'd like clarification on the 'can't get a PayPal account' thing.  That seems improbable; PayPal will give an account to anyone who can click.  Something like 'can't get a non profit PayPal rate' seems more likely.  Or 'I'm uneasy about eBay' also seems reasonable.

[2014-05-14 17:10] erinzm commented on #43
By slider you mean...the total bar?

[2014-05-14 19:26] idiomatic commented on #43
no, i mean the slideshow that automatically pans those depressing pictures across the screen.

to debug without the laptop melting, i need to set display:none on the correct element.  the CPU gets about 5x worse with the developer tools element inspector up.

[2014-05-14 19:30] hjfreyer commented on #43
I don't like the slider as it is. The unused
http://pledge.mayone.ushomepage replaces it with a CSS transition fade
which I think is much less
distracting, and would probably be cheaper. Maybe we'll port that to the
new static page at some point.

On Wed, May 14, 2014 at 3:26 PM, brian harrison notifications@github.comwrote:

##

kthxbai,
Hunter

[2014-05-14 19:32] aaronlifshin commented on #43
Yes, we want to change it to fade.

On Wed, May 14, 2014 at 12:30 PM, Hunter Freyer notifications@github.comwrote:

[2014-05-14 20:53] jamesreggio commented on #24
Ah, that's the beta for the next major release of Chrome.

Perplexingly, they've decided to change the user-agent stylesheet to set a background of `rgb(248, 248, 248)` for `select` elements. (Here's a [screenshot](https://twitter.com/jamesreggio/status/466681757429809152) of the Web Inspector.)

I also work at Stripe with @michaelvillar. We'll get a fix shipped shortly. Thanks for bringing this t

[2014-05-14 20:58] brad commented on #24
Thanks @jamesreggio I'm also seeing the problem in Firefox 28 and Chromium Version 34.0.1847.132 (265804) on Linux. Hopefully the fix works there too :smile:

[2014-05-14 21:46] erinzm commented on #33
How about the W3C [Robot Meta Tag specification](http://www.w3.org/Search/9605-Indexing-Workshop/ReportOutcomes/Spidering.txt)?

[2014-05-14 22:25] erinzm opened #46 "Ruby problems"
When Grunt runs the Sass task, it produces the following error on my system:

[code]

[2014-05-14 22:28] hjfreyer commented on #46
Do you have sass installed? Does it work when you run it standalone?

On Wed, May 14, 2014 at 6:25 PM, Liam M notifications@github.com wrote:

##

kthxbai,
Hunter

[2014-05-14 22:32] erinzm commented on #46
It used to work globally until I ran `npm install` in this project's root.
It's probably completely specific to my setup. ;)

[2014-05-14 23:02] #46 closed, assigned to nobody

[2014-05-15 05:37] aaronlifshin opened #48 "Update the embed tracker to be green and completed"

[2014-05-15 12:38] aroben commented on #17
Seems like GitHub Pages has been decided upon? https://github.com/MayOneUS/mayoneus.github.io

[2014-05-15 18:09] aaronlifshin commented on #17
Yep.  The question now is how to get them and the pledge site to use the
same "theme" code.

A

On Thu, May 15, 2014 at 5:38 AM, Adam Roben notifications@github.comwrote:

[2014-05-15 18:12] erinzm commented on #17
We should create a new `style` repo; fill it up with SASS, and recursively pull it into both the pledge site and the github pages site. It _should_ work; Jekyll can parse SASS _I think_. Then Github pages handles the builds of the static site; we could use a Continuous Deployment service to build and push tagged commits to GAE.

[2014-05-15 18:15] erinzm opened #50 "Why the extra pages under `markup`?"
Why do we have all of the pages under `/markup` that are being served by Github Pages?

[2014-05-15 19:16] jtolio commented on #50
we originally were planning on cutting straight over from wordpress cold turkey. we kept wordpress, and are moving to GHP, because we want to support easy non-technical-person editing.

the markup pages are just a relic from before we had that plan

[2014-05-15 21:49] hjfreyer commented on #50
Yeah. Once we've migrated we should delete those. I like them being there
for now if we want to borrow from them.

On Thursday, May 15, 2014 3:16:35 PM, JT notifications@github.com wrote:

[2014-05-16 01:56] erinzm commented on #48
Ummm- As we're going to go for a larger goal now, I think it would be worthwhile to write some simple JS to check if we've hit the target, and then turn it green. Secondly, I thought the Github Pages system was _supposed_ to handle this?

[2014-05-16 03:19] erinzm opened #53 "Unify styles"
Since we're already using SASS, why couldn't we create a `style` repo and recursively pull it down into both the Github Pages and GAE repos?
Then all the styles would be unified; thus repairing the problem of desynchronized style sheets.

[2014-05-16 04:08] erinzm commented on #50
Got it. I suppose they'll be removed in a PR sometime soon.

[2014-05-16 04:08] #50 closed, assigned to nobody

[2014-05-17 18:40] aaronlifshin commented on #48
It could be good to add that code to the tracker, I think.

The tracker is part of the pledge system, which is AppEngine.

A

On Thu, May 15, 2014 at 6:56 PM, Liam M notifications@github.com wrote:

[2014-05-17 19:37] erinzm commented on #48
By "supposed", I meant that the color and completion status _should_ be
handled by Github Pages.

On Sat, May 17, 2014 at 1:40 PM, aaronlifshin notifications@github.comwrote:

[2014-05-23 02:46] erinzm commented on #53
WIP right now ;)

[2014-05-23 02:46] #53 closed, assigned to nobody

[2014-05-23 02:52] erinzm opened #59 "Remove re-implemented static pages from pledgeservice"
As of now (22 May '14), Github Pages is handling the homepage.
Why does the pledge service implement a homepage endpoint at `/`?
Actually, we _could_ put the pledge page at `/`, so that pledging goes on at `pledge.mayone.us`.

[2014-05-23 02:53] erinzm commented on #16
Mostly done on wiki, I think?

[2014-05-27 14:20] jtolio opened #62 "pledge spinner doesn't go away on pledging error"
Oops, something went wrong. Try again in a few minutes

[2014-05-29 13:26] hjfreyer commented on #59
Historical reasons. I haven't gotten rid of it yet, because it's useful to see the total when I'm debugging, but now that we have some tests it's likely not as big a deal (and I could always go to embed.html). But yes, those should go away eventually.

[2014-05-29 13:32] erinzm commented on #59
Ah, I see.

On Thu, May 29, 2014 at 8:26 AM, Hunter Freyer notifications@github.com
wrote:

[2014-05-31 13:04] #59 closed, assigned to nobody

[2014-06-01 14:07] erinzm commented on #43
@idiomatic This should be closed, the homepage redesign is working on this now.

[2014-06-01 14:47] #43 closed, assigned to nobody

[2014-06-03 15:26] jwhite66 opened #71 "Embedded pledge uses old red bar and old target"
Not the new target style.

[2014-06-03 18:55] LindaHartTolley opened #73 "Pledge thank you screen content text needs editing"
After submitting my June pledge, the thank you screen was auto-opened.  The last line content needs editing.  I added the parentheticated question marks to the quoted text below.

"Thank you for pledging $50.00 in support of Mayday. Here is how you can multiply your impact right now:

Make your own customized pledge page!
Share the Mayday experiment with your friends on (?) and (?)"

[2014-06-03 19:07] hjfreyer opened #74 "Header on pledgeservice not responsive"
If it can be the same as the teams one, that'd be great.

[2014-06-03 20:37] jwhite66 opened #75 "Twitter link on receipt page busted?"
From Uservoice; ticket 3309:

I made my contribution but when I clicked the Twitter button afterwards,
the message it generated did not properly format mayday.us as a url
(missing http://). Please fix this.

[2014-06-03 21:28] aaronlifshin commented on #73
This is odd, others don't see it.

Is it possible you have a plug that blocks social sharing links?

A

On Tue, Jun 3, 2014 at 11:55 AM, LindaHartTolley notifications@github.com
wrote:

[2014-06-03 21:32] LindaHartTolley commented on #73
Thank you, Aaron.  I hope it might have been something of a transitory
glitch.  I used Chrome to send in my June pledge.  My husband donated via
Firefox and got the nice click through links to Facebook and Twitter.

Linda

Linda Hart Tolley
Administrative Officer / Curriculum and Assessment
Merritt Writing Program
University of California, Merced
lharttolley@ucmerced.edu

On Tue, Jun 3, 2014 at 2:

[2014-06-03 21:33] aaronlifshin commented on #73
OK let's keep this open for a bit and see if we get other complaints.

On Tue, Jun 3, 2014 at 2:32 PM, LindaHartTolley notifications@github.com
wrote:

[2014-06-04 01:31] jwhite66 opened #77 "Pledge page on foreign nationals is contradictory"
A 'permanent resident alien' is, by definition  a foreign national.
(http://en.wikipedia.org/wiki/Foreign_national)
So you can't allow 'permanent resident aliens' and then, later, disallow them.
And, according to FEC rules:
  http://www.fec.gov/ans/answers_general.shtml#Can_nonUS_citizens_contribute
They are legal.
Given that, I'll submit a patch to remove 'foreign nationals'.

[2014-06-04 01:40] jwhite66 commented on #62
This is fixed.  Close it?

[2014-06-04 02:29] aaronlifshin commented on #77
A 'permanent resident alien' is NOT a foreign national accroding to the def used by the FEC here:

Can non-US citizens contribute?
Foreign nationals are prohibited from making any contributions or expenditures in connection with any election in the U.S. Please note, however, that "green card" holders (i.e., individuals lawfully admitted for permanent residence in the U.S.) are not considered forei

[2014-06-04 02:29] aaronlifshin commented on #77
Propose closing the issue

[2014-06-04 02:38] jwhite66 commented on #77
This is certainly not the biggest problem we're facing, but I'm pretty sure I'm right, and I'm pretty sure the guy who wrote in on this was right.  That is, the _conventional_ use of the term 'foreign national' means what Wikipedia says.  And, in fact, the department of Homeland Security uses it that way:  http://www.dhs.gov/profiles-legal-permanent-residents.  It's only the FEC that seems to have

[2014-06-04 03:50] aaronlifshin commented on #75
I actually think this is by design?

[2014-06-04 03:50] aaronlifshin commented on #75
Checking...

[2014-06-04 06:36] aaronlifshin commented on #77
@brianboyko, can you please weigh in here?  You are the closest to legal on this issue.
Jwhite, I do believe that this is legal text provided by lawyers, so it's a process to get this to change.

[2014-06-04 15:44] aaronlifshin commented on #75
Checking on this, I think the PR team don't want it as a link for some
reason.  Weird.

On Wed, Jun 4, 2014 at 8:08 AM, Brad Pitcher notifications@github.com
wrote:

[2014-06-04 17:50] #21 closed, assigned to nobody

[2014-06-05 07:18] aaronlifshin commented on #17
The fate of the wordpress instance has been decided.

[2014-06-05 07:18] #17 closed, assigned to nobody

[2014-06-09 02:02] aaronlifshin opened #86 "Can go through pledge process by submitting $0"

[2014-06-14 21:52] erinzm commented on #33
Don't need this anymore, this is a stale ticket. Closing.

[2014-06-14 21:52] #33 closed, assigned to nobody

[2014-06-19 00:14] erinzm commented on #74
This is now fixed, uses same code as teams. Closed.

[2014-06-19 00:14] #74 closed, assigned to nobody

[2014-06-19 00:17] aaronlifshin commented on #18
It's not, actually.  I still have to export manually.

On Wed, Jun 18, 2014 at 5:16 PM, Liam M notifications@github.com wrote:

[2014-06-19 00:23] erinzm commented on #18
Ah, thought it was.

On Wed, Jun 18, 2014 at 7:17 PM, aaronlifshin notifications@github.com
wrote:

[2014-06-20 15:04] erinzm commented on #20
Isn't this _done_ in pledgepages?

[2014-06-20 16:35] aaronlifshin commented on #20
yes we emailed people links to manage their pledge pages in the past

On Fri, Jun 20, 2014 at 8:04 AM, Liam M notifications@github.com wrote:

[2014-06-20 18:00] erinzm commented on #20
[Just so you know @aaronlifshin, I'm trying to clean up our issue queue to
get to the stuff that really matters]

On Fri, Jun 20, 2014 at 11:35 AM, aaronlifshin notifications@github.com
wrote:

[2014-06-20 18:01] aaronlifshin commented on #20
I like that you do this!

When I get feature requests that are urgent, you think I should add them
here?

A

On Fri, Jun 20, 2014 at 11:01 AM, Liam M notifications@github.com wrote:

[2014-06-20 18:02] aaronlifshin opened #91 "Need an endpoint for counting the number of pledges"
But it can't count all the pledges every time, needs to have a backend processor that writes to a field.

[2014-06-20 18:03] erinzm commented on #20
Yeah, you should @aaronlifshin. Having issues and **especially using tags** helps devs get to stuff sooner. A fontend dev can see stuff tagged `frontend` &c.

[2014-06-20 18:04] aaronlifshin commented on #20
I'll try to get better about this.

A

On Fri, Jun 20, 2014 at 11:03 AM, Liam M notifications@github.com wrote:

[2014-06-20 18:04] #20 closed, assigned to jtolio

[2014-06-20 18:04] brad commented on #91
Could we just add that information to the total handler?

[2014-06-20 18:07] aaronlifshin commented on #91
Totally.

If we can do that without breaking any clients.

The harder part is the backend process that counts.

A

On Fri, Jun 20, 2014 at 11:04 AM, Brad Pitcher notifications@github.com
wrote:

[2014-06-20 18:09] #75 closed, assigned to nobody

[2014-06-20 18:09] erinzm commented on #62
Yep.

[2014-06-20 18:09] #62 closed, assigned to nobody

[2014-06-20 18:12] #16 closed, assigned to hjfreyer

[2014-06-20 18:21] brad commented on #91
Yeah, I think we can probably just piggy pack on the sharding stuff we do for the total.

[2014-06-20 18:23] jtolio commented on #91
You don't need a backend service continuously running. Just increase the pledge model version. For that version and newer, make sure to add new pledges to a total counter. Then, once and only once, run a query and find the number of pledges with older model versions and add that to the total.

[2014-06-20 19:06] aaronlifshin commented on #91
What about datastore contention on that counter?

On Fri, Jun 20, 2014 at 11:23 AM, JT notifications@github.com wrote:

[2014-06-21 00:42] #48 closed, assigned to nobody

[2014-06-22 01:41] aaronlifshin opened #92 "Leaderboard that counts by number of pledges, not money"

[2014-06-22 02:30] erinzm commented on #92
@aaronlifshin Shouldn't this issue be in teams?

[2014-06-22 02:38] aaronlifshin commented on #92
Not only, the endpoint needs to be created in here.

There is work to be done on both sides.  In this repo, we need to create
the endpoint.

On Sat, Jun 21, 2014 at 7:30 PM, Liam M notifications@github.com wrote:

[2014-06-22 05:40] jtolio commented on #91
oh sure, right, you still need the counter sharding.

[2014-06-22 16:00] jwhite66 commented on #35
Lessig has reversed the previous decision to hold off on PayPal.  I've now respun and put a new, not yet ready for prime time, version up for review.  It is here:  https://github.com/jwhite66/pledgeservice/tree/paypal4

Problems with it:
1.  No testing for Stripe - I touched that path, best make sure I didn't break it
2.  Exposes validation issues (similar to what Safari users will see)
   - email

[2014-06-23 03:17] jwhite66 commented on #35
Okay, some code merged.  Outstanding problems:
1.  No testing for Stripe.
2.  Validation - PR is here:  https://github.com/MayOneUS/pledgeservice/pull/97
3.  Need a logo and better visual presentation on pledge.jade
4.  Need to make sure the custom fits into 256 chars; that's vital.

[2014-07-01 00:35] erinzm commented on #92
This is done.

[2014-07-01 00:35] #92 closed, assigned to nobody

[2014-07-01 00:36] erinzm commented on #73
Stale. Probably an ad blocker, I don't think this is even relevant to the latest version of the site.

[2014-07-01 00:36] #73 closed, assigned to nobody

[2014-07-01 00:37] erinzm commented on #35
Yay done!

[2014-07-01 00:37] #35 closed, assigned to nobody

[2014-07-01 00:38] erinzm commented on #86
Fixed in newpledge.

[2014-07-01 00:38] #86 closed, assigned to nobody

[2014-07-01 00:41] erinzm commented on #24
This still happens. Even with `newpledge`.

[2014-07-01 21:41] aaronlifshin commented on #24
Didn't stripe admit this was their issue?

On Mon, Jun 30, 2014 at 8:41 PM, Liam M notifications@github.com wrote:

[2014-07-01 22:05] erinzm commented on #24
Yeah, but I thought they'd fix it soon(ish), seeing as they probably have a
fair number of Linux users.

On Tue, Jul 1, 2014 at 4:41 PM, aaronlifshin notifications@github.com
wrote:

[2014-07-01 23:51] jamesreggio commented on #24
Ah, apologies for the recurrence of this bug. We fixed it for Chrome back in mid-May, but the solution for Firefox on Linux is more involved. (It has to do with the trickiness of hiding the built-in dropdown arrow for `select` elements in Firefox.)

I'll see what I can do, and will be sure to keep you updated.

[2014-07-06 18:43] jwhite66 opened #103 "Pulling user-info fails for Paypal customers"
The current user-info handler requires a stripe id; that should be fixed.

[2014-07-07 02:33] piebob opened #104 "remove link to create pledge page from thank you page"
https://pledge.mayday.us/receipt/  needs to not direct people to create a pledge page now that we've reached the goal.
  pledgeservice / backend / email / thank-you.txt

[2014-07-07 02:43] piebob commented on #77
hey, we can close this, per a change i made after getting approval from Lessig. it now says:
"I am not a foreign national (permanent resident aliens excepted), federal contractor, national bank, or corporation chartered by an act of Congres."

[2014-07-07 02:43] #77 closed, assigned to nobody

[2014-07-07 02:54] jtolio commented on #104
how come? we're going to need orders of magnitude more for 2016. why stop? i mean, you're probably right, just curious

[2014-07-07 03:13] piebob commented on #104
main reason is that we aren't doing 'pledges' any more. if we want to keep the personal fundraising pages, that would be fine by me, we just need to make it clear that they're donations from now on. we should raise it in Monday's call.

[2014-07-07 12:16] jwhite66 commented on #23
This issue is now moot.  Closing.

[2014-07-07 12:16] #23 closed, assigned to nobody

[2014-07-07 12:22] #71 closed, assigned to nobody

[2014-07-07 12:31] jwhite66 opened #105 "Emails sometimes don't get added to mailchimp"
Aaron reports:
There is a persistent issue when sending email users across to mail chimp.

Sometimes errors happen and people do not get added. You can see tons of these if you filter the logs for errors only.

Also, because the mail chimp send is deferred, the task queur keeps retrying these, filling up both task queue and error logs.

[2014-07-07 19:02] brad commented on #105
I think the appropriate action here is to catch any Exception while trying to subscribe the user. We can still log the error, and comb the logs to try and manually add users if desired. What do you think @jwhite66 ?

[2014-07-07 19:13] erinzm commented on #105
Or retry on the exception, or put it in a special queue.

On Mon, Jul 7, 2014 at 2:02 PM, Brad Pitcher notifications@github.com
wrote:

[2014-07-07 19:13] jwhite66 commented on #105
That sounds wise, but I want a chance to dive into the logs and see if I can suss out what is happening.  It's very puzzling, because almost all emails go through.

[2014-07-07 19:15] erinzm commented on #105
Aren't you already putting all that stuff in the logs?

On Mon, Jul 7, 2014 at 2:13 PM, Jeremy White notifications@github.com
wrote:

[2014-07-07 20:36] jwhite66 commented on #105
The logs seem to suggest that a lot of the errors are malformed emails, or emails from subscribers that have perma-opted out of mailchimp.  There are a few other cases; I'm going to see if I can understand those.  Most confusing is that there is _always_ an error log for making a mailchimp connection, which I cannot find reflected in their code(their code has an info log, which I see, but then we

[2014-07-07 22:46] jwhite66 commented on #105
Looking deeper, the one case I found was a user who had put a non breaking space in their email; it shouldn't have gone through.  I even found a case where an email didn't go through due to timeout, and was retried and sent later.

I think this is working correctly, with the sole exception of why the heck the extra error log is put in there when the connection start.

[2014-07-08 14:34] brad commented on #105
@ArchimedesPi Deferred tasks always retry on exception, at least the documentation says so. That's why I suggested catching the exception. If there are any malformed emails then they will stay in the queue forever, retrying and failing over and over again.

[2014-07-08 15:10] erinzm commented on #105
Can we put a regexp on the email address field to validate it?

[2014-07-08 15:13] jwhite66 commented on #105
Possibly; we could potentially even live query mailchimp when they give us our email.  Mind doing me a favor, though, and adding that as a different issue?  I'm fairly confident that this issue can be closed as working.

[2014-07-08 15:13] #105 closed, assigned to nobody

[2014-07-08 15:31] ArchimedesPi opened #107 "Validate emails for mailchimp"
We should use a regexp to validate all email addresses *before* they go to Mailchimp.

[2014-07-08 15:32] erinzm commented on #105
Email validation issue:
https://github.com/MayOneUS/pledgeservice/issues/107

[2014-07-08 20:57] jwhite66 commented on #104
Done!

[2014-07-08 20:57] #104 closed, assigned to nobody

[2014-07-09 03:15] brad commented on #107
Let's make sure to use a library for this. http://blog.newrelic.com/2014/07/08/7-things-never-code/

[2014-07-09 03:36] erinzm commented on #107
Yeah, after reading that, I _totally_ agree ;).
BTW thanks for that article @brad!

On Tue, Jul 8, 2014 at 10:15 PM, Brad Pitcher notifications@github.com
wrote:

[2014-07-09 03:56] brad commented on #107
:smile: no problem, I came across that on Twitter this morning and just had
to share.
On Jul 8, 2014 8:36 PM, "Liam M" notifications@github.com wrote:

[2014-07-09 16:08] erinzm commented on #107
@brad [this](https://github.com/SyrusAkbary/validate_email) looks like it'll work, any objections? It checks against RFC2822 by default, it can also check that email server and account are valid.

[2014-07-09 16:12] erinzm commented on #107
Actually [mailgun/flanker](https://github.com/mailgun/flanker) looks better, let's use that!

[2014-07-09 16:16] ArchimedesPi opened #109 "Email templating"
How are we templating the emails in `backend/email`?

[2014-07-09 17:50] brad commented on #109
Those are just using python string formatting. Probably wouldn't be too much work to put them through Jinja2 instead.

[2014-07-09 17:55] erinzm commented on #109
OK, if you want I can convert them to Jinja - Jinja and Flask are my area
of (Python) expertise.

On Wed, Jul 9, 2014 at 12:50 PM, Brad Pitcher notifications@github.com
wrote:

[2014-07-09 17:59] brad commented on #109
Sure, I certainly don't have anything against that.

On Wed, Jul 9, 2014 at 10:55 AM, Liam M notifications@github.com wrote:

[2014-07-11 05:34] brad commented on #107
:anguished: Looking over the code a bit, it turns out we are actually using a validation library already (validictory) but it doesn't have an email validator! There was a [pull request](https://github.com/sunlightlabs/validictory/pull/51) for one, but it was rejected :disappointed:

[2014-07-11 05:34] brad commented on #107
I'm really surprised mailchimp doesn't have a validator built-in to their API.

[2014-07-13 17:28] jwhite66 commented on #103
Fixed; but creates a new issue (which I will open).

[2014-07-13 17:28] #103 closed, assigned to nobody

[2014-07-13 17:28] jwhite66 opened #110 "user-info does not grab paypal info"
And, in general, Paypal transactions are somewhat second class citizens.  For example, I don't think we auto fill zip + address for those transaction.

[2014-07-16 01:13] erinzm commented on #109
master/backend/handlers.py lines 206, 207, and 222 look like the lines to replace with Jinja stuff.

[2014-07-18 17:37] erinzm commented on #91
I believe this is done @jwhite66?

[2014-07-18 17:39] erinzm commented on #22
Not sure what legal status is on this right now, also I don't think we really care about this anymore? It's not about _personal_ pledges, we've got the map instead.

[2014-07-18 19:12] jwhite66 commented on #91
Yes, this was finished a long time ago.

[2014-07-18 19:12] #91 closed, assigned to nobody

[2014-07-18 19:13] jwhite66 commented on #22
I agree that we should close this issue, and open new issues for any ways in which our current visualization is not good enough.

[2014-07-18 19:13] #22 closed, assigned to nobody

[2014-07-18 19:18] erinzm commented on #31
@jwhite66 This is done too, I think?

[2014-07-18 20:09] jwhite66 commented on #31
I'm not sure I understand this issue well enough to kibitz.  There have been wild spottings of @aaronlifshin  .

[2014-07-21 22:01] jamesreggio commented on #24
Just to let you know, we deployed an update today that should 'fix' this issue, as much as is possible. The country field in Checkout should look roughly like this in Firefox on Linux:

![country-tweak](https://cloud.githubusercontent.com/assets/822205/3650899/ee4f7d82-1120-11e4-8581-2e473e0aaadb.png)

(The soft edges/artifacting on the right side is the result of a bad screen-share session.)

Fir

[2014-07-22 12:45] jwhite66 opened #114 "Failed subscribe requests spin forever"
the mc.subscribe python utility will throw an exception on error.  That will force the subscribe request to re-queue.  That's nice, as sometimes Mailchimp is down, and we retry.

However, for hard failures (e.g. bogus email), it essentially means we go into a loop, trying to subscribe over, and over again.

We could modify the code to catch the set of exceptions that are permanent.   Simpler might

[2014-07-23 21:52] jwhite66 commented on #24
Very cool; thanks for the follow up!

[2014-07-23 21:52] #24 closed, assigned to nobody

[2014-07-23 23:06] erinzm commented on #24
Yay!
Looks way better than it did before :)

[2014-07-24 00:10] jwhite66 opened #115 "The receipt page uses the wrong theme"

[2014-07-25 05:01] erinzm commented on #115
@jwhite66 Fixed in #116?

[2014-07-25 05:01] jwhite66 commented on #115
Yes; going live in the morning, I'll close this one then.

[2014-07-25 05:09] jwhite66 opened #118 "Backfill the name data"
Once we're filling address information on pledge, we should run the user update process one more time to get any gaps.

Then we should change it to instead back fill the name data (that's been set correctly since late May).

That will, in turn, let us simplify the user-info entry point and close https://github.com/MayOneUS/pledgeservice/issues/110.

[2014-07-25 05:11] jwhite66 commented on #18
Note that the infrastructure for this is largely in place.  Once we finish backfilling the data, it should be trivial to modify the code to export pledges in a nice, clean way.

Note, though, that the PAC does not consider the GAE data store the 'authority'.  There is an accounting back end that is the authority.  So our job here is just to get the data out of GAE and into that back end cleanly.

[2014-07-25 09:35] jwhite66 opened #119 "Remove the cruft"
The pledgeservice is full of an aborted attempt to make it into the primary web site.  Mostly these are files in the markup/ and assets/ directory.  Not a priority, but it would simplify the number of source files, which might be nice.

[2014-07-25 12:39] jwhite66 commented on #115
Fixed.

[2014-07-25 12:39] #115 closed, assigned to nobody

[2014-07-25 13:23] jwhite66 commented on #118
Okay, address backfill done.  This is open for workers...

[2014-08-01 06:36] #119 closed, assigned to nobody

[2014-09-03 02:55] jwhite66 commented on #114
More details:  in backend/env.py, we have code to subscribe users to our mailing list.

We add a job to _subscribe_to_mailchimp to our deferred queue.  In that code, the call to mc.subscribe is not bracketed with a try/catch.  The mc.subscribe code throws exceptions for known error conditions.  The way the GAE code works, if a deferred job throws an exception, the job gets retried later.  That lea

[2014-09-03 03:18] jwhite66 commented on #114
Sample of a typical error:
2014-09-02 22:12:48.148
An email address must contain a single @
Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.3/webapp2.py", line 1511, in **call**
    rv = self.handle_exception(request, response, e)
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.3/webapp2.

[2014-09-03 03:22] jwhite66 commented on #114
And another one:  (actual email replaced with dashes)

2014-09-02 22:01:29.397
"----@GMAIL.CM" has been banned
Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/webapp2-2.3/webapp2.py", line 1511, in **call**
    rv = self.handle_exception(request, response, e)
  File "/base/data/home/runtimes/python27/python27_lib/versions/third_party/w

[2014-09-03 03:53] davidxia commented on #114
@jwhite66 How do you run tests? I tried `PYTHONPATH=.:build ./testrunner.py` and got the error below. I haven't really dug into it though in case you know off the top of your head.

[code]

[2014-09-03 14:57] jwhite66 commented on #114
@brad is the expert; my recollection is that you had to run from the build directory, and I have the feeling that you have to copy a file as well (perhaps config.json), although I don't recall which file or from where.  Hmm.  Arguably the most useless comment ever :-/.

[2014-09-03 14:59] davidxia commented on #114
yea some instructions on how to run tests in the README would be great.

[2014-09-03 15:00] aaronlifshin commented on #114
David, have you run a build command first?

A
On Sep 3, 2014 7:59 AM, "David Xia" notifications@github.com wrote:

[2014-09-03 15:05] davidxia commented on #114
@aaronlifshin I don't think so. What's the command?

[2014-09-03 15:08] aaronlifshin commented on #114
Try

Grunt local

in the root of the repo, followed by python testrunner.py also in the root.

This project has a build step which creates a local, development or
production version in the build directory. Config.Json is one of the files
created.

A
 On Sep 3, 2014 8:05 AM, "David Xia" notifications@github.com wrote:

[2014-09-03 15:51] davidxia commented on #114
@aaronlifshin I did `grunt local` which created the build directory with config.json inside. Then I ran `python testrunner.py` in the root directory, but failed because it couldn't find config.json in the root directory. Am I missing something?

[2014-09-03 16:38] brad commented on #114
@davidxia you then must copy config.json to the backend folder

[2014-09-03 17:04] davidxia commented on #114
@brad thanks that worked.

[2014-09-03 17:10] davidxia commented on #114
I've updated the README to include this step. https://github.com/MayOneUS/pledgeservice/pull/130

[2014-09-03 17:15] aaronlifshin opened #131 "Add a step to copy config.json file to backend to the buil"
The build could just do this copy step, so that tests could be run.

There is also a risk of having the wrong config.json in backend dir if this is not added.  I suspect at the moment it doesn't matter, but could in future.

[2014-09-22 17:57] aaronlifshin opened #132 "Add a "Make my payment recurring" checkbox to pledge forms"
In this repo, we will need to add a field to the payment model and to /r/pledge.

[2015-07-29 16:53] Rio517 commented on #107
We're no longer using mailchip. Marking as closed.

[2015-07-29 16:53] #107 closed

[2015-10-05 20:46] erinzm commented on #109
No longer matters given current mayone state.

[2015-10-05 20:46] #109 closed